# Relatório de validação\n\nDescreva contato, feedbacks, ajustes e evidências.
Detalhe	Prestadora (Germana)	
Data	25/11/2025
Participante	Germana Sara Babá	
Cenários Testados	Cadastro, Login, Cadastrar Serviço (Babá), Editar Perfil (Endereço), Ver Minhas Solicitações (Recebidas/Enviadas).	Cadastro, Login, Cadastrar Serviço, Aprovar/Recusar Solicitação, Ver Minhas Solicitações, Editar Perfil.
